.sumo-main {
  min-height: 100vh;
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  .sumo-main {
    padding-left: 0;
  }
}
.sidenav .collapsible>.active .collapsible-header .chevron {
      transform: rotate(-90deg);
}
.sidenav {
  li {
    a {
      color: white;
    }
  }
}
.test {
  padding: 0 16px;
}

.content-main {
  font-family: Arial;
  &__title {
    letter-spacing: 0.05em;
  }
  &__description {
    font-size: 18px;
  }
  p {
    letter-spacing: 0.03em;
  }
}
