.sumo-main {
  min-height: 100vh;
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  .sumo-main {
    padding-left: 0;
  }
}

// sidenav
.sidenav .collapsible>.active .collapsible-header .chevron {
      transform: rotate(-90deg);
}
.sidenav {
  li {
    a {
      color: white;
    }
  }
}
.test {
  padding: 0 16px;
}
.title-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 28px;
  letter-spacing: 0.1em;
  font-family: Arial;
}

.setting-style {
  font-family: Arial;
  letter-spacing: 0.1em;
}

.content-main {
  // padding-top: 40px !important;
  font-family: Arial;
  &__title {
    letter-spacing: 0.05em;
  }
  &__description {
    font-size: 18px;
  }
  p {
    letter-spacing: 0.03em;
  }
}
.how-to-image {
  width: 100%;
}